ECE-176\Final-Project\runs\inpainting_128\inpainting_128_model_discriminator.pth
ECE-176\Final-Project\runs\inpainting_128\inpainting_128_model_generator.pth
ECE-176\Final-Project\runs\inpainting_227\inpainting_227_model.pth